@{
    ViewBag.Title = "Add Pet";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_PetFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
